name: build

on: [ push ]

jobs:
  build:
    runs-on: ${{ matrix.os }}
    strategy:
      matrix:
        os: [ ubuntu-latest ]
    name: build ${{ matrix.os }}

    steps:
      - uses: actions/checkout@v6
      - name: Set up JDK
        uses: actions/setup-java@v5
        with:
          java-version: '17'
          distribution: 'liberica'
          cache: 'maven'
      - run: sudo apt-get install gettext
      - name: Build with Maven
        run: mvn --batch-mode --update-snapshots verify
